---
name: decal
url: /decal
---

<div class="grid-block">
  <div class="grid-content">
    <br>
    <form>

      <label>Name<input type="text" placeholder="Name"></label>
      <label>Business/Organization<input type="text" placeholder="Business"></label>
      <label>Address<input type="text" placeholder="Address"></label>
      <label>Unit Number<input type="text" placeholder="Unit"></label>
      <label>City<input type="text" placeholder="City"></label>
      <label>State<input type="text" placeholder="State"></label>
      <label>Zip Code<input type="text" placeholder="Zip Code"></label>
      <label>Email<input type="text" placeholder="Email"></label>
      <label>Phone<input type="text" placeholder="Phone"></label>

      <label>I would like
        <span class="inline-label">
          <input type="text" placeholder="1">
          <span class="form-label">Decal(s)</span>
        </span>
      </label>

      <label>I would like
        <span class="inline-label">
          <input type="text" placeholder="1">
          <span class="form-label">Poster(s)</span>
        </span>
      </label>

      <input id="checkbox1" type="checkbox"><label for="checkbox1">I agree <a>Terms and conditions</a></label>

    </form>
    <br>

    <a href="#" class="expand button">Submit</a>

  </div>
</div>
