---
name: home
url: /
---

<div class="grid-block">
  <div class="grid-content">
    <h3>! Your Safety Is Our Responsibility !</h3>
    <p><img src="assets/img/logo.png"></p>
    <a class="large button success" href="#" ui-sref="safeplacelist"><img zf-iconic="" icon="magnifying-glass" size="small">Find a Safe Place near me</a>
    <hr>
    <span class="float-left"><a class="large button" href="#" ui-sref="liasion"><img zf-iconic="" icon="person" size="small">Liasion Officer</a></span>
    <span class="float-right"><a class="large button" href="tel:922"><img zf-iconic="" icon="bell" size="small">Call 911</a></span>
    <hr>
    <p><strong>About Seattle Safe Place</strong></p>
    <p>While Seattle is generally one of the safest and most progressive cities in the United States, crimes and discrimination related to the City's Lesbian, Gay, Bisexual, Transgender, Queer/Questioning (LGBTQ) residents and visitors unfortunately still occur. SPD is committed to the safety of all LGBTQ residents and visitors.</p>
    <p>Seattle Police Department (SPD) SAFE PLACE signage is being displayed by local supporting community members, businesses, schools and organizations that work closely with the Seattle Police Department in an effort to reduce anti-LGBTQ crimes, reduce LGBTQ student bullying and encourage the reporting of LGBTQ crimes. These are also locations supporting safe and secure places for victims of anti-LGBTQ related crimes and harassment. Calling 911 and waiting for police to respond is essential for holding suspects accountable and reducing hate crimes and harassment in general.</p>
    <p>&copy; Seattle Police Department 2016</p>
  </div>
</div>
