---
name: home
url: /
---

<div class="grid-block">
  <div class="grid-content">
    <br>
    <h4 class="text-center">! Your Safety Is Our Responsibility !</h4>
    <hr>
    <p><img src="assets/img/logo.png"></p>
    <a class="expand large button success" href="#" ui-sref="safeplacelist"><img zf-iconic="" icon="magnifying-glass" size="small"> Find a Safe Place near me</a>
    <a class="expand button" href="#" ui-sref="liasion"><img zf-iconic="" icon="person" size="small"> Liasion Officer</a>
    <a class="expand button" href="tel:922"><img zf-iconic="" icon="bell" size="small"> Call 911</a>
    <a class="expand button" href="" ui-sref="decal"><img zf-iconic="" icon="bookmark" size="small"> Decal and Sign Request</a>
    <p><a href="" ui-sref="about">What's a Safe place?</a>
  </div>
</div>
