---
name: liasion
url: /liasion
---

<div class="grid-block">
  <div class="grid-content">
    <h1>Jim Ritter</h1>
    <p class="subheader">SPD/LGBTQ Liasion Officer</p>
    <hr>
    <ul class="no-bullet">
      <li><strong>Email: </strong><a href="mailto:james.ritter@seattle.gov">james.ritter@seattle.gov</a></li>
      <li><strong>Phone: </strong><a href="tel:206-386-17xx93">206-386-1793</a></li>
    </ul>
    <hr>
    <p>The Seattle Police Department's LGBTQ Liaison Officer works out of Seattle Police Headquarters and is assigned to the Community Outreach Unit.</p>
    <h4>The Liaison Officers duties include:</h4>
    <ul>
      <li>Working closely with the LGBTQ community on a variety of community related events and issues</li>
      <li>Attending the LGBTQ Advisory Council Meetings</li>
      <li>Coordinating SPD participation in LGBTQ and PRIDE related events throughout the region</li>
      <li>Responding to all "SPD Safe Place" website requests and inquiries</li>
      <li>Monitoring all LGBTQ related crime statistics and responses</li>
    </ul>
  </div>
</div>
